* {
    box-sizing: border-box;
}


body {
    /*color: #333;*/
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
    font-family: 'Calibri';
    font-size: 14px;
}
